<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="abrahamlay.kknp2015.warungsosro" >

    <!-- To access Google+ APIs: -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!--
 To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SignInActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TabhostDistributorActivity"
            android:label="@string/title_activity_list_ticket" >
        </activity>
        <activity
            android:name=".ListTicketActivity"
            android:label="@string/title_activity_list_ticket" >
        </activity>
        <activity
            android:name=".ListAgenActivity"
            android:label="@string/title_activity_list_agen" >
        </activity>
        <activity
            android:name=".ListWarungActivity"
            android:label="@string/title_activity_list_warung" >
        </activity>
        <activity
            android:name=".DetailTicketActivity"
            android:label="@string/title_activity_detail_ticket" >
        </activity>
        <activity
            android:name=".RequestActivity"
            android:label="@string/title_activity_request" >
        </activity>
        <activity
            android:name=".TabhostAgenActivity"
            android:label="@string/title_activity_tabhost_agen" >
        </activity>
        <activity
            android:name=".TabhostWarungActivity"
            android:label="@string/title_activity_tabhost_warung" >
        </activity>
        <activity
            android:name=".SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".SendActivity"
            android:label="@string/title_activity_forward" >
        </activity>
        <activity
            android:name=".EditProfilWarungActivity"
            android:label="@string/title_activity_edit_profil_warung" >
        </activity>
    </application>

</manifest>
